html{overflow-y:scroll;}
body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica,  sans-serif;
    color: #FFFFFF;
    background-color:#283048 ;
}
.clear{
    clear: both;
    margin-top: -15px;
}
a{
    outline: none;
    text-decoration: none;
}
img{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
.logos{
    float: left;
    width: 15%;
    padding: 5px;
}
.wrapper{
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
}
.wrapper h1{
    margin: 0 0 15px 0;
    padding: 0 0 8px 0;
    font-size: 20px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px dotted #362C20;
}
.col1{
    color: #fff;
    background: #757f9a;
    border-top: 3px solid #362C20;
}
.col2{
    color: #b6b6b6;
    background-color: #232526;
}
#header, #intro{
    display: block;
    position: relative;
    width: 960px;
    margin: 0 auto;
}
#header{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#header #logo{
    display:block;
    float: left;
    margin: 8px 0 0 8px;
    text-align: justify;
}
#header h1, #header p{
    margin: 0 0 0 20px;
    padding: 0;
}
#header h1{
    margin: 20px 0 0 20px;
    padding: 0;
    font-size: 50px;
    border: none;
}
#header h1 a{
    color: #362C20;
    background-color: #757f9a;
}
#topnav{
    display: block;
    float: right;
    width: 700px;
    margin: 70px 40px 0 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#topnav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#topnav ul, #topnav li{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
    display: block;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    color: #fff;
    background-color: #757f9a;
}
#topnav ul ul li a:link,#topnav ul ul li a:visited{
    border: none;
}
#topnav ul li.last a{
    margin-right: 0;
}
#topnav li a:hover, #topnav ul li.active a{
    color: #fff;
    background-color: #414345;
}
#topnav li li a:link, #topnav li li a:visited{
    width: 150px;
    float: none;
    margin: 0;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background-color: #414345;
    border-left: 1px solid #ffffff;
} 
#topnav li li a:hover{
    color: #283048;
    background-color: #ffffff;
}
#topnav li ul{
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 170px;
}
#topnav li ul a{
    width: 140px;
}
#topnav li ul ul{
    margin: -32px 0 0 0;
}
#topnav li:hover ul ul{
    left: -999em;
}
#topnav li:hover ul, #topnav li li:hover ul{
    left: auto;
}
#topnav li:hover{
    position: static;
}
#topnav li.last a{
    margin-right: 0;
}
/*----------------------------------------------------*/
#intro{
    padding: 30px 0;
}
.wrapper #intro li.list{
    margin: 0;
}
#intro h2, #intro p, #intro ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    border: none;
}
#intro .fl_left{
    display: block;
    float: left;
    width: 480px;
}
#intro .fl_left h2{
    margin-bottom: 0 0 10px 0;
    padding: 0 0 8px 0;
    color: #ffffff;
}
#intro .fl_left li {
    display: block;
    float: left;
    width: 200px;
    margin: 0 25px 0 0;
    margin-left: 2px;
}
#intro .fl_left p{
    margin-bottom: 10px;
    line-height: 1.3em;
}
#intro .fl_left p.readmore{
    display: block;
    margin: 25px 0 0 0;
    text-align: right;
    line-height: normal;

}
#intro .fl_right{
    display: block;
    float: right;
    width: 420px;
    height: 320px;
    padding: 9px;
    border: 1px solid #CBCFB5;
    overflow: hidden;
}
#intro .fl_right li{
    margin-bottom: 10px;
}
#intro .fl_right img{
    display: block;
    width: 420px;
    height: 320px;
}
td{
    border-left: 1px solid white;
    border-collapse: collapse;
}

table{
   padding-top: 30px;
}
.box{
    padding-top: 30px;
    list-style-type: square;
}
#logo p{
    float: left;
    margin-left: 50px;
}
/*------------------------main-------------------------*/
#open{
    list-style-type: none;
    border-bottom: 1px solid red;
    margin-right: 30px;
}
#body{
    display: block;
    float: right;
    width: 700px;
    margin: 70px 40px 0 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-right: 65%;
    margin-top: 15px;
}
#body ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#body ul, #body li{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#body li a:link, #body li a:visited, #body li a:hover{
    display: block;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    color: #fff;
    background-color: #343a49;
}
#body ul ul li a:link,#body ul ul li a:visited{
    border: none;
}
#body ul li.last a{
    margin-right: 0;
}
#body li a:hover, #body ul li.active a{
    color: #fff;
    background-color: red;
}
/*-----------pic----------*/
.rcol{
	display: inline-flex;
	padding: 13px;
	width: 22%;
	height: 320px;
}
.row button{
	display: inline-flex;
	float: right;
	font-size: 20px;
	border: none;
	padding: 25px;
	border-radius: 5px;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
	max-width: 400px;
	margin: auto;
	text-align: center;
	font-family:  Verdana, Arial, Helvetica,  sans-serif;
}
.card button{
	border: none;
	outline: 0;
	padding: 12px;
	color: #CBCFB5;
	background-color: #232526;
	text-align: center;
	cursor: pointer;
	width:100%;
	font-size: 18px;
}
.card button a{
	color: white;
	text-decoration: none;
}
.card button:hover{
	opacity:0.8;
}
.more a{
    float: right;
    font-size: 20px;
    color: red;
    margin-right: 30px;
    font-family:  Verdana, Arial, Helvetica,  sans-serif;
    list-style-type: none;
}
.come{
    float: left;
    margin-left: 30px;
    list-style-type: none;
    margin-top: 0px;
}
/**/
.rcol3{
	display: inline-flex;
	padding: 13px;
	width: 22%;
	height: 320px;
	
}
.row3 button{
	display: inline-flex;
	float: right;
	font-size: 20px;
	border: none;
	padding: 25px;
	border-radius: 5px;
}
.card3{
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
	max-width: 400px;
	margin: auto;
	text-align: center;
	font-family:  Verdana, Arial, Helvetica,  sans-serif;
}
.card3 button{
	border: none;
	outline: 0;
	padding: 12px;
	color: #CBCFB5;
	background-color: #232526;
	text-align: center;
	cursor: pointer;
	width:100%;
	font-size: 18px;
}
.card3 button a{
	color: white;
	text-decoration: none;
}
.card3 button:hover{
	opacity:0.8;
}
.more{
    float: right;
    font-size: 20px;
    color: red;
    margin-right: 30px;
    font-family:  Verdana, Arial, Helvetica,  sans-serif;
    list-style-type: none;
}
.main2{
    display: block;
    float: left;
    margin-left: 30px;
    list-style-type: none;
    margin-top: 0px;
}
/*--------------------------footer----------------------------*/
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 30px;
    text-align: center;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .social-links li a {
    color: #fff;
    font-size: 20px;
  }
  
  .footer-bottom {
    margin-top: 30px;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
